.profile.bio {
  border: 1px solid #db2cb596;
  border-radius: 5px;
  padding: 1rem;
  background-color: #21252c;
  width: 50%;
  height: 10rem;
}

.profile.bio:hover {
  border: 1px solid #db2cb5c9;
}

.profile.bio.edit {
  resize: vertical;
  height: 10rem;
  color: mintcream;
}

.profile.fullname {
  font-weight: 300;
  margin: 0;
}

.profile.username {
  color: #5f6965;
  margin-top: 0.25rem;
}