.content.library {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #db2cb596;
  border-radius: 15px;
  background-color: #21252c;
  text-align: justify;
}

.content.library:hover {
  border: 1px solid #db2cb5c9;
}

.library.game {
  padding: 2rem;
  background-color: #21252c;
  border-radius: 15px;
}

.library.game:hover {
  filter: brightness(125%);
}

.library.game h2 {
  display: inline-block;
  margin: 0;
  width: fit-content;
}

.line {
  padding-right: 2rem;
  border-top: 1px solid mintcream;
}

.library.game .icon.button {
  float: right;
  margin: 0 0 0 0.5rem;
  padding: 0.25rem;
}