.content.friends {
  text-align: center;
  padding: 1%;
}

.friend-lists {
  display: inline-flex;
  width: 30%;
  margin: 0.5%;
  padding: 1%;
  border: 1px solid #db2cb596;
  border-radius: 5px;
  background-color: #21252c;
}

.friend-lists:hover {
  border: 1px solid #db2cb5c9;
}

.friend-lists ul {
  padding: 0;
  text-align: left;
  width: 100%;
  vertical-align: middle;
}

.friend-lists ul h4 {
  display: inline-block;
  margin: 0.5rem;
}

.friend-lists ul .icon.button, .icon.button {
  float: right;
  margin: 0 0.5rem 0 0.25rem;
  padding: 0.25rem;
}

.divider {
  width: 95%;
  margin: 0.5rem auto;
  height: 2px;
  background-color: grey;
}

#search-results {
  width: 30%;
  margin: 0;
  padding: 1%;
  border: 1px solid #db2cb596;
  border-radius: 5px;
  background-color: #21252c;
}

.search-result {
  display: inline-block;
  padding-left: 2rem;
}

.friend-lists ul h2 {
  margin-top: 0;
}

.friend-search {
  margin-bottom: 0;
}
