.nav-title {
  font-weight: 300;
  display: inline-block;
  color: mintcream;
  padding-left: 15px;
}

.nav {
  overflow: hidden;
  background-color: #db2cb5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-link {
  all: unset;
}

.nav-link {
  float: left;
  color: mintcream;
  background-color: #db2cb5;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #be2a9e;
  border-bottom: 3px solid #c5ffe3;
}

.nav-right {
  float: right;
}

.nav-right:last-child {
  margin-right: 15px;
}
