.nav-title {
  font-weight: 300;
  display: inline-block;
  color: mintcream;
  padding-left: 15px;
}

.nav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #db2cb5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 100;
  box-shadow: 0px -15px 50px 10px #3b1a3b;
}

.nav-link {
  all: unset;
}

.nav-link {
  float: left;
  color: mintcream;
  background-color: #db2cb5;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 18px;
  font-variant: small-caps;
  user-select: none;
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #be2a9e;
  box-shadow: inset 0px -3px 0px 0px mintcream;
}

.active-nav-link {
  box-shadow: inset 0px -3px 0px 0px mintcream;
}

.nav-right {
  float: right;
}

.nav-right:last-child {
  margin-right: 15px;
}
